{
  "@context": "https://schema.org",
  "@type": "MedicalOrganization",
  "name": "{{ site.name }}",
  "url": "https://www.example-hospital.com",
  "logo": "https://www.example-hospital.com/logo.png",
  "contactPoint": {
    "@type": "ContactPoint",
    "telephone": "{{ site.phone }}",
    "contactType": "customer service"
  }
}