<article class="faq-item" data-faq-item>
  <button class="faq-question" type="button" data-faq-trigger>
    <span>{{ faqItem.question }}</span>
    <span>+</span>
  </button>
  <div class="faq-answer" data-faq-answer>
    <p>{{ faqItem.answer }}</p>
  </div>
</article>
